.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.custom-button {
  background-color: #17B5B5; /* button background colour */
  color: white; /* Text color */
}