/* Style the app container */
/* .app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f1f1f1; /* Background color for the entire page 
  } */

/* Style the Sidebar 
  .sidebar {
    width: 15%; /* Adjust the width as needed 
    padding: 20px; /* Add padding to the Sidebar */
/* Add additional styles as needed 
  }*/

/* Style the content area (ProductGrid) 
  .content {
    width: 85%; /* Adjust the width as needed 
    height: 90vh;
    background-color: #fff; /* Background color for the content area 
    padding: 20px; /* Add padding to the content area 
    
    /* Add additional styles as needed 
  }*/
