.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.vertical-carousel-container {
  margin-left: 5%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70vw;
}

.carousel {
  margin-left: 20px;
  width: 30vw;
  min-width: 400px;
}

.slide {
  height: 70vh; 
  width: 100%;
}

.thumbnail {
  height: 64px; 
  width: 55px;
  border-radius: 5px;
}

.thumbnail.active {
  border: 2px solid #000000;
  border-radius: 5px;
}

/* RIGHT SIDE STUFF */
.other-content {
  flex: 2;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top of the container */
}

.buttons-container {
  display: flex;
  align-items: center;
}

.wishlist {
  text-transform: capitalize;
  color: gray;
}

.product {
  font-size: 30px;
  font-weight: bold;

}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.desc {
  color: #808080;
  font-size: 16px;
  margin-top: 4px;
}

.size {
  font-size: 16px;
}

p {
  color: gray;
  font-size: 17px;
  margin-bottom: 40px;
}

.other-content span {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.main {
  margin-left: 75px;
}

.black {
  color: black;
  font-size: 14px;
}

@media (max-width: 768px) {
.main {
  margin-left: 20px;
}
}

.breadcrumb {
  margin-top: 13px;
  font-size: 14px;
  color: black;
}

@media (max-width: 768px) {
  .thumbnail-container {
    margin-left: 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 384px) {
  .container {
    flex-direction: column;
  }
}