.container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.vertical-carousel-container {
  margin-left: 5%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
}

.carousel {
  margin-left: 20px;
  width: 30vw;
}

.thumbnail {
  height: 64px; /* Adjust the height to accommodate the border */
  width: 64px; /* Adjust the width to accommodate the border */
  border-radius: 5px;
}

.thumbnail.active {
  border: 3px #18b5b5 solid;
  position: relative;
  border-radius: 5px;
  height: 69px;
  width: 69px;
}

.slide {
  height: 80vh; /* Set the height to 80% of the viewport height */
  width: 100%; /* Occupy the entire width available */
  /* Add other styles like border or margin if desired */
}


/* RIGHT SIDE STUFF */
.other-content {
  flex: 3;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top of the container */

}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-button, .wishlist-button {
  flex: 1; /* Distribute available space equally */
  margin: 0 5px; /* Add some spacing between the buttons */
}

.wishlist {
  text-transform: capitalize;
  color: gray;
  float: right;
}

h1 {
  margin-bottom: 30px;
}

.price {
  font-size: 25px;
}

p {
  color: gray;
  font-size: 17px;
  margin-bottom: 40px;
}

span {
  color: black;
  font-weight: bold;
  font-size: 17px;
}