@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar .ReVogue {
    color: #18b5b5 !important;
    font: 30px 'Abril Fatface', cursive !important;
    margin-right: 20px;
}

.navbar-nav li {
    display: inline-block;
    margin: 10px; /* Adjust the margin as needed */
    font-family: 'Lato', sans-serif;
}

.navbar-nav a.nav-link {
    color: black;
  }

.navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* this is the LOGIN button */
.button {
    padding: 10px 20px;
    min-width: auto;
    background-color: #18b5b5; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    height: 35px;
    font: 14px 'Lato', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

/* cart | bell | search icons */
.icon {
    margin: 20px 5px;
}