.custom{
    padding-right: 50px;
}

.ml-auto button {
  color: gray;
  text-transform: capitalize;
  position: absolute;
  right: 90px;
}

p strong {
  font-size: 15px;
}

hr {
  margin-top: 0; /* Adjust the value as needed */
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: -15px;
}