main {
  min-height: 83vh;
  position: relative;
}

.custom {
  padding-right: 50px;
  padding-left: 50px;
}
.btn-custom {
  background-color: #18b5b5;
}

.ml-auto button {
  color: gray;
  text-transform: capitalize;
  position: absolute;
  right: 90px;
}

hr {
  margin-top: 0; /* Adjust the value as needed */
}

h5 {
  color: grey;
}
