.bold-text {
    font-weight: bold !important; /* Use !important to ensure it overrides other styles */
  }

.imgPad{
  margin-right: 10px;
}

.active{
  border-left: 3px solid aqua;
}

.list-group-item{
  padding-bottom: 20px;
}

.white-background {
  background-color: white;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  margin-right: 15px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.gray-background {
  background-color: #F5F5F5;
  border-left: 5px solid #18b5b5 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  margin-right: 15px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.list-group-item img {
  margin-left: 15px; 
}

.bold-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}