/* CSS Module Code to handle all error page designs  */
.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1rem;
}
