/* Upload Image */
.uploadImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadImage {
    text-align: center;
    justify-content: center;
}
.uploadImageIcon {
    position: relative;
    top: 40%;
    color: #A39D9D;
}
.imagePreview {
    padding-top: 10px;
    max-width: 30vw;
    display: block;
    margin: 10px auto 10px;
}

.button {
    border-radius: 20px;
    border: none;
    padding: 7px 40px;
    margin-top: 20px;
    background-color: #18b5b5;
    color: white;
    font-weight: bold;
}

.submit {
    border-radius: 20px;
    border: none;
    padding: 7px 95px;
    margin-top: 20px;
    background-color: #18b5b5;
    color: white;
    font-weight: bold;
}