.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
  }

/* Upload Image */
.uploadImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vw;
    width: 30vw;
    border: 2px dashed #A39D9D;
    margin-right: 20px;
}
.uploadImage {
    text-align: center;
    justify-content: center;
}
.uploadImageIcon {
    position: relative;
    top: 40%;
    color: #A39D9D;
}
.imagePreview {
    max-width: 30vw;
    max-height: 30vw;
    display: block;
    margin: 10px auto 10px;
}
.imageURL {
    color: #A39D9D;
    font-size: 12px;
    max-width: 30vw;
    max-height: 30vw;
}

.buttonNext {
    position: absolute;
    bottom: 10%;
    font-size: 14px;
    padding: 10px 20px; /* Adjust padding values as needed */
    min-width: auto; /* Remove minimum width to allow the button to adjust to the content */
    background-color: #18b5b5; /* Button background color */
    color: #fff; /* Text color */
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a cursor on hover */
    text-transform: capitalize;
    height: 15px;
    text-decoration: none;
    margin-right: -10%;
}

.buttonCancel {
    position: absolute;
    bottom: 10%;
    font-size: 14px;
    padding: 10px 20px; /* Adjust padding values as needed */
    min-width: auto; /* Remove minimum width to allow the button to adjust to the content */
    background-color: #18b5b5; /* Button background color */
    color: #fff; /* Text color */
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a cursor on hover */
    text-transform: capitalize;
    height: 15px;
    text-decoration: none;
    margin-left: -10%;
}

.leftColumn {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .rightColumn {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px; 
  }