.main {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

/* Upload Image */
.uploadImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vw;
    width: 30vw;
    margin-right: 20px;
}
.uploadImage {
    text-align: center;
    justify-content: center;
}
.uploadImageIcon {
    position: relative;
    top: 40%;
    color: #A39D9D;
}
.imagePreview {
    max-width: 30vw;
    max-height: 30vw;
    display: block;
    margin: 10px auto 10px;
}
.imageURL {
    color: #A39D9D;
    font-size: 12px;
    max-width: 30vw;
    max-height: 30vw;
}

  .label {
    font-weight: bold;
    font-size: 14px;
  }